.parent{
    height: 90vh;
    width: 90vw;
    background-color: bisque;
    padding: 1rem;
    display: grid;
    gap: 10px;
    
    font-size: 2.5rem;
    font-weight: bold;
}
.child{
    background-color: purple;
    color: white;
    border: 2px solid black;
}
@media(max-width: 600px){
    #aside{
        display: none. ;
    }
}

@media(min-width: 600px){
.parent{
    grid-template-columns: 65fr 35fr;
    grid-template-rows: 0.6fr 0.6fr 1.2fr 1.2fr 0.5fr;
}
#header{
    grid-column-start: 1;
    grid-column-end: 3;
}
#nav{
    grid-column-start: 1;
    grid-column-end: 3;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 3;
}
#aside{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
}