*{
    background-color: beige;
}

.parent{
    height: 80vh;
    width: 80vw;
    background-color: gray;
    border: 2px solid black;
    padding: 2rem;
    position: relative;
}
.child{
    height: 20%;
    width: 20%;
    background-color: purple;
    margin: 1.5rem;
    display: inline-block;
    color: white;
    font-size: 3rem;
    padding: 0.4rem;
}
/* top, bottom, left, right */
#child3{
    /* position: static;
    top: 300px; */
    position: absolute;
    top: 300px;
    /* left: 0px; */
    right: 0px;
}

.header{
    height: 15vh;
    width: 100%;
    background-color: rgb(85, 80, 74);
    position: fixed;
    top: 100px;
}