.parent{
    height: 90vh;
    width: 90vw;
    background-color: rgb(188, 166, 139);
    padding: 1rem;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    flex-wrap: wrap-reverse;

}

.child{
    padding: 1rem;
    background-color: black;
    height: 150px;
    width: 150px;
    margin: 1rem;
    border: 2px solid white;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
#three{
    order: -1;
}